
= form_with(model: babysitter, html: { class: "needs-validation", novalidate: true }, local: true )do |f|
  .row
    .col-md-2
      .form-group
        = f.label :number_of_baby, "受入可能人数", class: "bmd-label-floating", aria: {label: "Recipient's username", describedby: "basic-addon2" }
        .input-group
          = f.select :number_of_baby, { "0": "0", "1": "1", "2": "2", "3": "3", "4": "4", "5": "5", "6": "6"} , {include_blank: "---"}, class: "form-control", required: true
          .input-group-append
            %span#basic-addon2.input-group-text 人
          .invalid-feedback
            受入可能人数を選択してください
    .col-md-6
      .form-group
        = f.label "受入可能年齢", class: "bmd-label-floating"
        .input-group
          = f.select :baby_age_range_top_year, { "0": "0", "1": "1", "2": "2", "3": "3", "4": "4", "5": "5", "6": "6"} , {include_blank: "---"}, class: "form-control", required: true, aria: {label: "Recipient's username", describedby: "basic-addon2" }
          .input-group-append
            %span#basic-addon2.input-group-text 年
          = f.select :baby_age_range_top_month, { "0": "0", "1": "1", "2": "2", "3": "3", "4": "4", "5": "5", "6": "6", "7": "7", "8": "8", "9": "9", "10": "10", "11": "11", "12": "12"} , {include_blank: "---"}, class: "form-control", required: true, aria: {label: "Recipient's username", describedby: "basic-addon2" }
          .input-group-append
            %span#basic-addon2.input-group-text= "ヶ月 ~ "
          = f.select :baby_age_range_down_year, { "0": "0", "1": "1", "2": "2", "3": "3", "4": "4", "5": "5", "6": "6"} , {include_blank: "---"}, class: "form-control", required: true, aria: {label: "Recipient's username", describedby: "basic-addon2" }
          .input-group-append
            %span#basic-addon2.input-group-text 年
          = f.select :baby_age_range_down_month, { "0": "0",  "1": "1", "2": "2", "3": "3", "4": "4", "5": "5", "6": "6", "7": "7", "8": "8", "9": "9", "10": "10", "11": "11", "12": "12"} , {include_blank: "---"}, class: "form-control", required: true, aria: {label: "Recipient's username", describedby: "basic-addon2" }
          .input-group-append
            %span#basic-addon2.input-group-text ヶ月
          .invalid-feedback
            受入可能年齢を選択してください
    .col-md-3
      .form-group
        = f.label "可能時間帯", class: "bmd-label-floating"
        .input-group
          = f.select :profile_receiving_time_top, { "0": "0", "1": "1", "2": "2", "3": "3", "4": "4", "5": "5", "6": "6", "7": "7", "8": "8", "9": "9", "10": "10", "11": "11", "12": "12", "13": "13", "14": "14", "15": "15", "16": "16", "17": "17", "18": "18", "19": "19", "20": "20", "21": "21", "22": "22", "23": "23"} , {include_blank: "---"}, class: "form-control", required: true, aria: {label: "Recipient's username", describedby: "basic-addon2" }
          .input-group-append
            %span#basic-addon2.input-group-text 時 ~ 
          = f.select :profile_receiving_time_down, { "0": "0", "1": "1", "2": "2", "3": "3", "4": "4", "5": "5", "6": "6", "7": "7", "8": "8", "9": "9", "10": "10", "11": "11", "12": "12", "13": "13", "14": "14", "15": "15", "16": "16", "17": "17", "18": "18", "19": "19", "20": "20", "21": "21", "22": "22", "23": "23"} , {include_blank: "---"}, class: "form-control", required: true, aria: {label: "Recipient's username", describedby: "basic-addon2" }
          .input-group-append
            %span#basic-addon2.input-group-text 時
          .invalid-feedback
            可能時間帯を選択してください
  .row
    .col-md-2
      .form-group
        = f.label :experience_year, "子育て経験", class: "bmd-label-floating"
        = f.select :experience_year, Babysitter.experience_years_i18n.invert, {include_blank: "選択して下さい"}, class: "form-control", required: true, aria: {label: "Recipient's username", describedby: "basic-addon2" }
        .invalid-feedback
          子育て経験を選択してください
    .col-md-2
      .form-group
        = f.label :money_hour, "時給", class: "bmd-label-floating"
        .input-group
          = f.text_field :money_hour, class: "form-control", required: true, aria: {label: "Recipient's username", describedby: "basic-addon2" }
          .input-group-append
            %span#basic-addon2.input-group-text 円
          .invalid-feedback
            時給を入力してください
    .col-md-2
      .form-group
        = f.label :money_option, "オプション料金", class: "bmd-label-floating"
        .input-group
          = f.text_field :money_option, class: "form-control", required: true, aria: {label: "Recipient's username", describedby: "basic-addon2" }
          .input-group-append
            %span#basic-addon2.input-group-text 円
          .invalid-feedback
            時給を入力してください

  .row
    .col-md-12
      .form-group
        = f.label :profile_license, "資格", class: "bmd-label-floating"
        = f.text_field :profile_license, class: "form-control", required: true
  .row
    .col-md-12
      .form-group
        = f.label :introduction_title, "タイトル", class: "bmd-label-floating"
        = f.text_field :introduction_title, class: "form-control", required: true
        .invalid-feedback
          タイトルを入力してください
  .row
    .col-md-12
      .form-group
        = f.label :introduction_content, "本文", class: "bmd-label-floating"
        = f.text_area :introduction_content, class: "form-control", rows: 3, required: true
        .invalid-feedback
          本文を入力してください

  .row
    .col-md-12
      = f.label "本人写真", class: "bmd-label-floating"

  .row
    = f.fields_for :babysitter_images do |i|
      .col-4
        .imagePreview
        .input-group
          %label.input-group-btn
            %span.btn.btn-primary
              選択
            = i.file_field :name, class: "uploadFile", style: "display: none"
            -# %input.uploadFile{:style => "display:none", :type => "file"}
          %input.form-control{readonly: "readonly", type: "text", name: "babysitter[babysitter_images_attributes][#{@babysitter.babysitter_images.count}][src]"}
    -# 編集の時に画像を追加する
    -# - if @babysitter.persisted?
    -#   .js-file_group{"data-index" => "#{@babysitter.babysitter_images.count}"}
    -#     = file_field_tag :src, name: "babysitter[babysitter_images_attributes][#{@babysitter.babysitter_images.count}][src]", class: 'js-file'
    -#     .js-remove 削除

      -# .col-4
      -#   .imagePreview
      -#   .input-group
      -#     %label.input-group-btn
      -#       %span.btn.btn-primary
      -#         選択
      -#         %input.uploadFile{:style => "display:none", :type => "file"}/
      -#     %input.form-control{readonly: "readonly", type: "text"}

      -# .col-4
      -#   .imagePreview
      -#   .input-group
      -#     %label.input-group-btn
      -#       %span.btn.btn-primary
      -#         選択
      -#         %input.uploadFile{:style => "display:none", :type => "file"}/
      -#     %input.form-control{readonly: "readonly", type: "text"}


      -# .input-group
      -#   #image-box
      -#     -# プレビュー表示
      -#     #previews
      -#       - if @babysitter.persisted?
      -#         - @babysitter.babysitter_images.each_with_index do |image, i|
      -#           = image_tag "#{image.name.to_s}", data: { index: i }, width: "100", height: '100', class: "ml-1"
      -#     -# 追加
      -#     = f.fields_for :babysitter_images do |image|
      -#       .js-file_group{"data-index" => "#{image.index}"}
      -#         .d-flex.justify-content-start
      -#           = image.file_field :name, class: 'js-file form-control', required: true
      -#           %span.js-remove.btn.btn-sm 削除
      -#           -# .invalid-feedback
      -#           -#   写真を1枚以上添付して下さい
      -#       - if @babysitter.persisted?
      -#         = image.check_box :_destroy, data:{ index: image.index }, class: 'hidden-destroy'
      -#     - if @babysitter.persisted?
      -#       .js-file_group{"data-index" => "#{@babysitter.babysitter_images.count}"}
      -#         .d-flex.justify-content-start
      -#           = file_field_tag :name, name: "babysitter[babysitter_images_attributes][#{@babysitter.babysitter_images.count}][name]", class: 'js-file form-control'
      -#           .js-remove.btn.btn-sm 削除

  .row
    .col-4
      = f.submit "登録", class: "btn btn-primary pull-right"
