.wrapper
  .sidebar{"data-background-color" => "white", "data-color" => "purple" }
    .logo
      %a.simple-text
        マイページ
    .sidebar-wrapper
      %ul.nav
        %li.nav-item
          = link_to "共通情報", signup_path(current_user.id), class: "nav-link"
        %li.nav-item
          = link_to "保護者情報", parent_path(current_user.id), class: "nav-link"
        %li.nav-item.active
          = link_to "ベビーシッター情報", babysitter_path(current_user.id), class: "nav-link"
        %li.nav-item
          = link_to "ホーム画面", root_path, class: "nav-link"

  .main-panel
    .container-fluid
      .row
        .col-md-12
          .card
            .card-header.card-header-primary
              %h4.card-title ベビーシッター情報登録
            .card-body
              = render partial: "form", locals: { babysitter: @babysitter }