%nav.navbar.navbar-dark.bg-dark.flex-md-nowrap.p-0.shadow
  .navbar-brand.col-sm-3.col-md-2.mr-0
    マイページ

.container-fluid
  .row
    -# ナビバー
    = render "shared/configuration-nav-bar.html"
    -# ベビーシッター情報
    %main.col-md-10.ml-sm-auto.col-lg-10.px-4{:role => "main"}
      .row
        .col-md-12
          = render "shared/alert_message"
      .row
        .col-md-12
          .card
            .card-header.card-header-warning
              %h4.card-title ベビーシッター基本情報
              %p.card-category= "最終更新日 #{I18n.l(@babysitter.updated_at, format: :long)}"
            .card-body.table-responsive
              %table.table.table-hover
                %thead.text-warning
                  %th
                    項目
                  %th
                    内容
                %tbody
                  %tr
                    %td
                      保育可能年齢
                    %td
                      = "#{@babysitter.baby_age_range_top_year} 年 #{@babysitter.baby_age_range_top_month} ヶ月 〜 #{@babysitter.baby_age_range_down_year} 年 #{@babysitter.baby_age_range_down_month} ヶ月"
                  %tr
                    %td 
                      受入可能人数
                    %td
                      = "#{@babysitter.number_of_baby} 人"
                  %tr
                    %td
                      サポート回数
                    %td
                      = "#{@babysitter.experience_support_count} 回"
                  %tr
                    %td
                      累計ユーザー数
                    %td
                      = "#{@babysitter.experience_user_count} 人"
                  %tr
                    %td
                      子育て経験
                    %td
                      = "#{@babysitter.experience_year_i18n}"
                  %tr
                    %td 
                      タイトル
                    %td 
                      = "#{@babysitter.introduction_title}"
                  %tr
                    %td 
                      紹介文
                    %td
                      = simple_format(h(@babysitter.introduction_content))
                  %tr
                    %td 時給
                    %td
                      = "#{@babysitter.money_hour} 円"
                  %tr
                    %td オプション料金
                    %td
                      =  "#{@babysitter.money_option} 円"
                  %tr
                    %td 資格
                    %td
                      = "#{@babysitter.profile_license}"
                  %tr
                    %td 可能時間帯
                    %td
                      = "#{@babysitter.profile_receiving_time_top} 時 〜 #{@babysitter.profile_receiving_time_down} 時"
                  %tr
                    %td 本人画像
                    %td
                      - @babysitter.babysitter_images.each do |image|
                        = image_tag "#{image.name.to_s}", style: "height: 100px; width: 100px;"
            .card-body
              = link_to "編集", edit_babysitter_path(user_id: current_user.id), class: "btn btn-primary"



    -# = @babysitter.baby_age_range_top_month