.wrapper
  .sidebar{"data-background-color" => "white", "data-color" => "purple" }
    .logo
      %a.simple-text
        マイページ
    .sidebar-wrapper
      %ul.nav
        %li.nav-item.active
          = link_to "共通情報", signup_path(current_user.id), class: "nav-link"
        %li.nav-item
          = link_to "保護者情報", parent_path(current_user.id), class: "nav-link"
        %li.nav-item
          = link_to "ベビーシッター情報", babysitter_path(current_user.id), class: "nav-link"
        %li.nav-item
          = link_to "ホーム画面", root_path, class: "nav-link"
  .main-panel
    .container-fluid
      .row
        .col-md-12
          = render 'shared/error_message'
      .row
        .col-md-12
          .card
            .card-header.card-header-primary
              %h4.card-title 基本情報編集
            .card-body
              = form_with model: @user, url: signup_path,	html: { class: "needs-validation", novalidate: true }, local: true do |f|
                .row
                  .col-md-3
                    .form-group
                      = f.label :first_name, "姓", class: "font-weight-bold"
                      = f.text_field :first_name, class: "form-control", placeholder: "田中", required: true, pattern: "^[ぁ-んァ-ンヴー-龥]+$"
                      .invalid-feedback
                        名字を全角入力してください
                  .col-md-3
                    .form-group
                      = f.label :last_name, "名"
                      = f.text_field :last_name, class: "form-control", placeholder: "太郎", required: true, pattern: "^[ぁ-んァ-ンヴー一-龥]+$"
                      .invalid-feedback
                        名前を全角入力してください
                  .col-md-3
                    .form-group
                      = f.label :first_name_kana, "姓(かな)"
                      = f.text_field :first_name_kana, class: "form-control", placeholder: "たなか", required: true, pattern: "^[ぁ-んァ-ンヴー]+$"
                      .invalid-feedback
                        名字(かな)を全角入力してください                  
                  .col-md-3
                    .form-group
                      = f.label :last_name_kana, "名(かな)"
                      = f.text_field :last_name_kana, class: "form-control", placeholder: "たろう", required: true, pattern: "^[ぁ-んァ-ンヴー]+$"
                      .invalid-feedback
                        名前(かな)を全角入力してください
                .row
                  .col-md-3
                    .form-group
                      = f.label :nickname, "ニックネーム"
                      = f.text_field :nickname, class: "form-control", placeholder: "Taroh", required: true
                      .invalid-feedback
                        名前を入力してください
                  .col-md-6
                    .form-group
                      = f.label :email, "Eメール"
                      = f.email_field :email, class: "form-control", placeholder: "tanaka_tarou@example.com", required: true, pattern: '/\A([\w+\-].?)+@[a-z\d\-]+(\.[a-z]+)*\.[a-z]+\z/i'
                      .invalid-feedback
                        メールアドレスを入力してください
                  .col-md-3
                    .form-group
                      = f.label :phone_number, "電話番号"
                      
                      = f.text_field :phone_number, class: "form-control", placeholder: "XXX-XXXX-XXXX", required: true, pattern: '0[1-9]\d{0,3}-\d{1,4}-\d{4}'
                      .invalid-feedback
                        電話番号を正しく入力してください 例)090-1234-5678
                .row
                  .col-md-6
                    .form-group
                      = f.label :password, "パスワード"
                      = f.password_field :password, class: "form-control", placeholder: "7文字以上半角", required: true, pattern: '[a-zA-Z0-9]{7,}', id: "password-input"
                      .invalid-feedback
                        パスワードを7文字以上半角で入力してください
                  .col-md-6
                    .form-group
                      = f.label :password_confirmation, "パスワード(確認用)"
                      = f.password_field :password_confirmation, class: "form-control", placeholder: "7文字以上半角(再度入力)", required: true, pattern: '', id: "password-confirmation-input"
                      .invalid-feedback
                        空欄もしくはパスワードが不一致です
                .row
                  .col-md-4
                    .form-group
                      = f.label "郵便番号"
                      = f.text_field :postcode, class: "form-control", placeholder: "XXX-XXXX", required: true
                      .invalid-feedback
                        郵便番号を入力してください

                .row
                  .col-md-6
                    .form-group
                      = f.label "番地"
                      
                      = f.text_field :block, class: "form-control", placeholder: "博多1-1-1", required: true
                      .invalid-feedback
                        番地を入力してください
                  .col-md-6
                    .form-group
                      = f.label "建物名"
                      
                      = f.text_field :building, class: "form-control", placeholder: "博多ビル", required: true
                      .invalid-feedback
                        建物名を入力してください
                = f.submit "登録", class: "btn btn-primary pull-right"