.container-fluid
  .row
    .col-lg-12
      .bs-component
        %nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
          = link_to "Share Childcare", homes_path, class: "navbar-brand"
          %button.navbar-toggler{aria: {controls: "navbarColor01", expanded: "false", expanded: "false", label: "Toggle navigation"}, data: {target: "#navbarColor01", toggle: "collapse"}, type: "button"}
            %span.navbar-toggler-icon
          #navbarColor01.collapse.navbar-collapse
            %ul.navbar-nav.mr-auto
              %li.nav-item
                = link_to "ホーム", homes_path, class: "nav-link"
              %li.nav-item
                = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link", data: { confirm: "ログアウトします。よろしいでしょうか。" }
                .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
                  %a.dropdown-item{:href => "#"} 高坂穂乃果
              %li.nav-item.dropdown
                %a#navbarDropdown.nav-link.dropdown-toggle{aria: {expanded: "false", haspopup: "true"},data: {toggle:"dropdown"}, href: "#", role: "button"}
                  = "#{current_user.nickname}さん:ID.#{current_user.id}"
                .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
                  %a.dropdown-item{:href => "#"} マイページ             
                  = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "dropdown-item", data: { confirm: "ログアウトします。よろしいでしょうか。" }
.container-fluid
  .row
    %nav.col-md-2.d-none.d-md-block.bg-light.sidebar.col-100vh
      .sidebar-sticky
        %h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-muted
          %span メニュー
          %a.d-flex.align-items-center.text-muted{:href => "#"}
            %span{"data-feather" => "plus-circle"}
        %ul.nav.flex-column
          %li.nav-item
            %a.nav-link.active{:href => "#"}
              %span{"data-feather" => "home"}
              Dashboard
              %span.sr-only (current)
          %li.nav-item
            %a.nav-link{:href => "#"}
              %span{"data-feather" => "file"}
              Orders
          %li.nav-item
            %a.nav-link{:href => "#"}
              %span{"data-feather" => "shopping-cart"}
              Products


