.wrapper
  .sidebar{"data-background-color" => "white", "data-color" => "purple" }
    .logo
      %a.simple-text
        マイページ
    .sidebar-wrapper
      %ul.nav
        %li.nav-item.active
          = link_to "共通情報", signup_path(current_user.id), class: "nav-link"
        %li.nav-item
          = link_to "保護者情報", root_path, class: "nav-link"
        %li.nav-item
          = link_to "ベビーシッター情報", babysitter_path(current_user.id), class: "nav-link"
        %li.nav-item
          = link_to "ホーム画面", root_path, class: "nav-link"
  .main-panel
    .container-fluid
      .row
        .col-md-12
          = render "shared/alert_message"
      .row
        .col-md-12
          .card
            .card-header.card-header-warning
              %h4.card-title 共通情報
              %p.card-category= "最終更新日 #{I18n.l(current_user.updated_at, format: :long)}"
            .card-body.table-responsive
              %table.table.table-hover
                %thead.text-warning
                  %th
                    項目
                  %th
                    内容
                %tbody
                  %tr
                    %td
                      氏名（かな）
                    %td
                      = "#{current_user.first_name} #{current_user.last_name}( #{current_user.first_name_kana} #{current_user.last_name_kana})"
                  %tr
                    %td
                      ニックネーム
                    %td
                      = "#{current_user.nickname}"
                  %tr
                    %td
                      郵便番号
                    %td
                      = "#{current_user.postcode}"
                  %tr
                    %td
                      住所
                    %td
                      = "#{current_user.prefecture} #{current_user.city} #{current_user.city} #{current_user.block} #{current_user.building}"
                  %tr
                    %td
                      メールアドレス
                    %td
                      = "#{current_user.email}"
                  %tr
                    %td
                      電話番号
                    %td
                      = "#{current_user.phone_number}"
            .card-body.table-responsive
              = link_to "編集", edit_signup_path, class: "btn btn-primary"