%nav.navbar.navbar-dark.bg-dark.flex-md-nowrap.p-0.shadow
  .navbar-brand.col-sm-3.col-md-2.mr-0
    マイページ
.container-fluid.h-100
  .row
    -# ナビバー
    = render "shared/configuration-nav-bar.html"
    -# 保護者情報
    %main.col-md-10.ml-sm-auto.col-lg-10.px-4{:role => "main"}
      .row
        .col-md-12
          = render "shared/alert_message"
      .row
        .col-md-12
          .card
            .card-header.card-header-warning
              %h4.card-title 共通情報
              %p.card-category= "最終更新日 #{I18n.l(current_user.updated_at, format: :long)}"
            .card-body.table-responsive
              %table.table.table-hover
                %thead.text-warning
                  %th
                    項目
                  %th
                    内容
                %tbody
                  %tr
                    %td
                      氏名
                    %td
                      = "#{current_user.first_name} #{current_user.last_name}"
                  %tr
                    %td
                      かな
                    %td
                      = "#{current_user.first_name_kana} #{current_user.last_name_kana}"
                  %tr
                    %td
                      ニックネーム
                    %td
                      = "#{current_user.nickname}"
                  %tr
                    %td
                      郵便番号
                    %td
                      = "#{current_user.postcode}"
                  %tr
                    %td
                      住所
                    %td
                      = "#{current_user.prefecture} #{current_user.city} #{current_user.city} #{current_user.block} #{current_user.building}"
                  %tr
                    %td
                      メールアドレス
                    %td
                      = "#{current_user.email}"
                  %tr
                    %td
                      電話番号
                    %td
                      = "#{current_user.phone_number}"
            .card-body.table-responsive
              = link_to "編集", edit_signup_path, class: "btn btn-primary"