.table-responsive.table-hover
  %table.table
    %caption
      = paginate @notifications
      = page_entries_info @notifications
    %thead
      %tr.d-flex
        %th.col-12{:colspan => "2"} お知らせ
    %tbody
      - @notifications.each do |notification|

        - if notification.visited_id == current_user.id
          %tr.d-flex
            %td.col-1{:scope => "row"}
              - case notification.checked
              - when true then
                %i.fas.fa-envelope-open-text
              - when false then
                %i.fas.fa-envelope
            %td.col-8
              -# 依頼された時
              - case notification.action
              - when "ordered" then
                = link_to "#", class: "text-info" do
                  = "#{notification.visitor.nickname}さんに依頼されました。依頼内容を確認し、返答してください。"
                  %i.fas.fa-greater-than
            %td.col-3.fas.fa-clock.font-weight-light.pt-3
              = "#{I18n.l(notification.created_at, format: :long)}"

        - elsif notification.visitor_id == current_user.id
          %tr.d-flex
            %td.col-1{:scope => "row"}
              - case notification.checked
              - when true then
                %i.fas.fa-envelope-open-text
              - when false then
                %i.fas.fa-envelope
            %td.col-8
              -# 依頼した時
              - case notification.action
              - when "ordered" then
                -# 依頼内容の詳細表示
                = link_to order_path(id: notification.order_id), remote: true, class: "text-info", data: { toggle: "modal", target: "#exampleModal" } do
                  = "#{notification.visited.nickname}さんに依頼しました。詳細を確認する時はこちらで確認ください。"
                  %i.fas.fa-greater-than
            %td.col-3.fas.fa-clock.font-weight-light.pt-3
              = "#{I18n.l(notification.created_at, format: :long)}"
        - else 
          %td.col-1{:colspan => "2"}
            お知らせはありません

%order-show-action.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}







