%nav.col-md-2.d-none.d-md-block.bg-light.sidebar
  .sidebar-sticky
    %ul.nav.flex-column.list-group.list-group-flush.mt-3
      %i.fa.fa-bars
        マイメニュー
      %li.nav-item
        = active_link_to notifications_path, class: "nav-link list-group-item" do
          %i.fas.fa-bell
            お知らせ

    %ul.nav.flex-column.list-group.list-group-flush.mt-3
      %i.fa.fa-cog
        設定メニュー
      %li.nav-item
        = active_link_to signup_path(current_user.id), class: "nav-link list-group-item" do
          %i.fa.fa-cogs
            共通情報
      %li.nav-item.active
        - if current_user.parent.present?
          = active_link_to parent_path(id: current_user.parent.id, user_id: current_user.id), class: "nav-link list-group-item" do
            %i.fas.fa-baby-carriage
              保護者情報
        - else
          = active_link_to new_parent_path, class: "nav-link list-group-item" do
            %i.fas.fa-baby-carriage
              保護者情報
      %li.nav-item
        - if current_user.babysitter.present?
          = active_link_to babysitter_path(id: current_user.babysitter.id, user_id: current_user.id), class: "nav-link font-weight-bold list-group-item" do
            %i.fab.fa-hire-a-helper
              ベビーシッター情報
        - else
          = active_link_to new_babysitter_path, class: "nav-link font-weight-bold list-group-item" do
            %i.fab.fa-hire-a-helper
              ベビーシッター情報
      %li.nav-item
        = active_link_to root_path, class: "nav-link list-group-item", active: [[:home],[:index]] do
          %i.fas.fa-home
            ホーム画面