%nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
  = link_to "Share Childcare", root_path, class: "navbar-brand"
  %button.navbar-toggler{aria: {controls: "navbarColor01", expanded: "false", expanded: "false", label: "Toggle navigation"}, data: {target: "#navbarColor01", toggle: "collapse"}, type: "button"}
    %span.navbar-toggler-icon
  #navbarColor01.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item.nav-link
        = "#{current_user.nickname}さん:ID.#{current_user.id}"
      %li.nav-item
        = link_to signup_path(current_user.id), class: "nav-link" do
          %i.fa.fa-cog
            設定メニュー
        -# %a#navbarDropdown.nav-link.dropdown-toggle{aria: {expanded: "false", haspopup: "true"},data: {toggle:"dropdown"}, href: "#", role: "button"}
        -#   %i.fa.fa-cog
        -#     設定メニュー
        -# .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
        -#   = link_to "共通情報", signup_path(current_user.id), class: "dropdown-item fa fa-cogs"
        -#   = link_to "保護者情報", parent_path(id: current_user.parent.id, user_id: current_user.id), class: "dropdown-item fas fa-baby-carriage"
        -#   = link_to "ベビーシッター情報", babysitter_path(id: current_user.babysitter.id, user_id: current_user.id), class: "dropdown-item fab fa-hire-a-helper font-weight-bold"
      %li.nav-item
        = link_to notifications_path, class: "nav-link" do
          %i.fas.fa-bell
            お知らせ
      %li.nav-item
        = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link", data: { confirm: "ログアウトします。よろしいでしょうか。" }


    - if controller.controller_name == "homes" && %w[index search].any? { |name| controller.action_name.include?(name) }
      = search_form_for @q, url: search_homes_path, class: "form-inline my-2 my-lg-0" do |f|
        = f.collection_select :user_prefecture_eq, @user, :prefecture, :prefecture, { include_blank: "指定なし" }, { class: "form-control mr-sm-2" }
        = f.submit "検索", class: "btn btn-secondary my-2 my-sm-0"
      -# %form.form-inline.my-2.my-lg-0
      -#   %input.form-control.mr-sm-2{:placeholder => "Search", :type => "text"}/
      -#   %button.btn.btn-secondary.my-2.my-sm-0{:type => "submit"} 検索