.container
  .row
    .col-md-12
      = render "shared/alert_message"
  .row
    .col-md-12
      .bs-component
        = render "shared/root-nav-bar.html.haml"

  -# チャット一覧 

  .chats-group
    -# 依頼内容(初期表示)
    .row.order-content
      .col-auto.mr-auto
        .balloon-left
          .faceicon
            .succeed
              %img{:alt => "", :src => "https://picsum.photos/id/237/35/35"}
              .p
                issei
          .chatting
            .says
              %table.table-borderless.table-hover
                %tbody
                  %tr
                    %th
                      依頼日時:
                    %td
                      7/7
                  %tr
                    %th
                      金額:
                    %td
                      ¥1000
                  %tr
                    %th
                      補足:
                    %td
                      test
                  %tr
                    %th{colspan: 2}
                      = link_to "#" do
                        詳細はこちら
                        %i.fas.fa-greater-than


    .row
      .col-auto.ml-auto
        .balloon-right
          .chatting
            .mycomment
              %p
                test
              %p
                testtesttesttest
              %p
                testegwetetetere
              %small
                .text-right
                  2020/7/7 21:15
          .faceicon
            .succeed
              %img{:alt => "", :src => "https://picsum.photos/id/237/35/35"}
              .p                
                issei

    .row
      .col-auto.mr-auto
        .balloon-left
          .faceicon
            .succeed
              %img{:alt => "", :src => "https://picsum.photos/id/237/35/35"}
              .p
                issei
          .chatting
            .says
              %p
                test
              %p
                testtesttesttest
              %p
                testegwetetetere
              %small
                .text-left
                  2020/7/7 21:15

  -#投稿フォーム
%nav.navbar.fixed-bottom.navbar-expand-lg.navbar-light{:style => "background-color: #cccccc;"}
  = form_with model: Order, local: true, html: { class: "needs-validation form-inline justify-content-center form-width-100", novalidate: true, id: "form-js-ajax" } do |f|
    = f.text_area :comment, rowa: 2, class: "form-control w-75", required: true
    = f.submit "SEND", class: "btn btn-primary w-10 ml-3", id: "form-send-button"

    
