- if user_signed_in?
  .container
    .row
      .col-md-12
        = render "shared/alert_message"
    .row
      .col-lg-12
        .bs-component
          = render "shared/root-nav-bar.html.haml"

  .container
    .row
      .mb-3
        = paginate @babysitters
        = page_entries_info @babysitters
    .row.text-center
      - @babysitters.each do |babysitter|
        .col-lg-3.col-md-6.mb-4
          .card
            .center-block
              = image_tag babysitter.babysitter_images.first.name.to_s, class: "card-img-top", style: "height: 200px; weight: auto;"
            .card-body
              %h4.card-title= babysitter.user.nickname
              %p.card-text= babysitter.introduction_title
            %table.table
              %thead
              %tbody
                %tr
                  %th{scope: "col"} 時給
                  %td= babysitter.money_hour
                %tr
                  %th{scope: "col"} 市区町村
                  %td= "#{babysitter.user.prefecture}#{babysitter.user.city}"
            .card-footer
              - if current_user.parent.present?
                = link_to "詳細", home_path(id: babysitter, parent_id: current_user.parent.id), class: "btn btn-primary"
              - else
                = link_to "保護者登録", new_parent_path, class: "btn btn-primary"

- else
  %nav.navbar.navbar-expand-lg.navbar-light.bg-light
    %button.navbar-toggler{aria: {controls: "navbarResponsive", expanded: "false", label: "Toggle navigation"}, data: {target: "#navbarResponsive", toggle: "collapse"}, type: "button"}
      %span.navbar-toggler-icon
    #navbarResponsive.collapse.navbar-collapse
      .navbar-brand.js-scroll-trigger
      %ul.navbar-nav
        %li.nav-item
          %img.d-block.ml-auto{alt: "", height: "40px", width: "200px", src: "../images/logo_clear.png", class: "img-fluid top-image"}
        %li.nav-item
          = link_to "新規登録", step1_signups_path, method: :GET, class: "nav-link js-scroll-trigger header-signup"
        %li.nav-item
          = link_to "ログイン", "#", class: "nav-link js-scroll-trigger header-login", data: {target: "#exampleModal", toggle: "modal"}


  .bg-primary
    .container
      .row
        .col-12
          = render "shared/alert_message"
          
      .row
        -# ログインモーダル
        #exampleModal.modal.fade.mt-5{aria: {labelledby: "exampleModalLabel"}, role: "dialog", tabindex: "-1"}
          .modal-dialog{role: "document"}
            .modal-content
              .modal-header
                %h5#exampleModalLabel.modal-title ログイン
                %button.close{aria: {label: "閉じる"},data: {dismiss: "modal"}, type: "button"}
                  %span{aria: {hidden: "true"}} ×
              .modal-body
                = form_for(resource, as: resource_name, url: session_path(resource_name), class: "form-signin") do |f|
                  .form-label-group
                    = f.label :email, "メールアドレス"
                    = f.email_field :email, autofocus: true, placeholder: "メールアドレスを入力", required: false, class: "form-control", id: "inputEmail"
                  %br
                  .form-label-group
                    = f.label :password, "パスワード"
                    = f.password_field :password, placeholder: "パスワードを入力", required: "", class: "form-control", id: "inputPassword"
                    = f.hidden_field :url, value: request.fullpath
                  .custom-control.custom-checkbox.mb-3
                    %input#customCheck1.custom-control-input{type: "checkbox"}/
                    %label.custom-control-label{for: "customCheck1"} パスワードを保存
                  .d-flex.justify-content-end
                    %button.btn.btn-secondary.mr-2{data: {dismiss: "modal"}, type: "button"} 閉じる
                    %button.btn.btn-primary{type: "submit"} ログイン
              .modal-footer
                %button.btn.btn-google.btn-block.text-white{type: "submit"}
                  %i.fab.fa-google.mr-2.text-white
                  Googleでログイン
                %button.btn.btn-facebook.btn-block.text-white.mt-0{type: "submit"}
                  %i.fab.fa-facebook-f.mr-2.text-white
                  Facebookでログイン

      .row
        .col-12
          %header.bg-primary.text-white
            .container.text-center
              %h1 SHARE CHILDCARE ~育児支援サービス~
              %p.lead お子様専用のベビーシッターサービスです。
              %p.lead どうしてもお子様のお世話ができない時に、本サービスで依頼することができます。
              .top-image-box.slick
                %img{src: "/images/top-image1.jpg", class: "img-fluid top-image"}
                %img{src: "/images/top-image2.jpg", class: "img-fluid top-image"}
                %img{src: "/images/top-image3.jpg", class: "img-fluid top-image"}
