.container
  .row
    .col-lg-12
      .bs-component
        %nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
          = link_to "Share Childcare", root_path, class: "navbar-brand"
          %button.navbar-toggler{aria: {controls: "navbarColor01", expanded: "false", expanded: "false", label: "Toggle navigation"}, data: {target: "#navbarColor01", toggle: "collapse"}, type: "button"}
            %span.navbar-toggler-icon
          #navbarColor01.collapse.navbar-collapse
            %ul.navbar-nav.mr-auto
              %li.nav-item.nav-link
                = "#{current_user.nickname}さん:ID.#{current_user.id}"
              %li.nav-item.dropdown
                %a#navbarDropdown.nav-link.dropdown-toggle{aria: {expanded: "false", haspopup: "true"},data: {toggle:"dropdown"}, href: "#", role: "button"}
                  = "マイページ"
                .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
                  = link_to "共通情報", signup_path(current_user.id), class: "dropdown-item"
                  = link_to "保護者情報", parent_path(id: current_user.parent.id, user_id: current_user.id), class: "dropdown-item"
                  = link_to "ベビーシッター情報", babysitter_path(id: current_user.babysitter.id, user_id: current_user.id), class: "dropdown-item"
              %li.nav-item
                = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link", data: { confirm: "ログアウトします。よろしいでしょうか。" }
  .row
    .col
      .card.mt-4
        .d-flex
          = image_tag @babysitter.babysitter_images.first.name.to_s, class: "card-img-top img-fluid"
          = image_tag @babysitter.babysitter_images.second.name.to_s, class: "card-img-top img-fluid" if @babysitter.babysitter_images.length >= 2
        .card-body
          %h3.card-title= @babysitter.user.nickname
          %h4= @babysitter.introduction_title
          %p.card-text= @babysitter.introduction_content

          -# 今後実装予定(評価機能)
          -# %span.text-warning ★ ★ ★ ★ ☆
          -# 4.0 stars
      / /.card
      .card.card-outline-secondary.my-4
        %h3.card-header= "ベビーシッター基本情報"
        .card-body
          %table.table
            %thead.thead-light
              %tr
                %th= "項目"
                %th= "内容"
            %thead.thead-warning
              %tr.table-warning
                %th{colspan: 2}= "基本情報"
            %tbody
              %tr
                %td= "保育可能年齢"
                %td= "#{@babysitter.baby_age_range_top_year} 年 #{@babysitter.baby_age_range_top_month} ヶ月 〜 #{@babysitter.baby_age_range_down_year} 年 #{@babysitter.baby_age_range_down_month} ヶ月"
              %tr
                %td= "受入可能人数"
                %td= "#{@babysitter.number_of_baby} 人"
              %tr
                %td= "子育て経験"
                %td= "#{@babysitter.experience_year_i18n}"
              %tr
                %td= "住所"
                %td= "#{@babysitter.user.prefecture} #{@babysitter.user.city}"
            %thead.thead-warning
              %tr.table-warning
                %th{colspan: 2}= "実績情報"
            %tbody
              %tr
                %td= "サポート回数"
                %td= "#{@babysitter.experience_support_count} 回"
              %tr
                %td= "累計ユーザー数"
                %td= "#{@babysitter.experience_user_count} 人"
            %thead.thead-warning
              %tr.table-warning
                %th{colspan: 2}= "基本料金"
            %tbody
              %tr
                %td 時給
                %td
                  = "#{@babysitter.money_hour} 円"
              %tr
                %td オプション料金
                %td
                  =  "#{@babysitter.money_option} 円"
            %thead.thead-warning
              %tr.table-warning
                %th{colspan: 2}= "概要"
            %tbody
              %tr
                %td= "資格"
                %td= "#{@babysitter.profile_license}"
              %tr
                %td= "可能時間帯"
                %td= "#{@babysitter.profile_receiving_time_top} 時 〜 #{@babysitter.profile_receiving_time_down} 時"
          %button.btn.btn-success{"data-target" => "#exampleModalCenter", "data-toggle" => "modal", :type => "button"} 依頼する

-# 依頼ボタン用のモーダル
#exampleModalCenter.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalCenterTitle", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-dialog-centered{:role => "document"}
    .modal-content
      .modal-header
        %h5#exampleModalCenterTitle.modal-title 依頼確認
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        = "依頼を開始します。"
        %br
        = "依頼する場合は、「依頼するボタン」を押してください。"
      .modal-footer
        %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"}= "閉じる"
        = link_to "依頼する", "/", class: "btn btn-success"

