.container
  .row
    .col-lg-12
      .bs-component
        = render "shared/root-nav-bar.html.haml"

  .row.justify-content-center
    .col-8
      .card.mt-4
        .d-flex.slick
          - @babysitter.babysitter_images.each do |image|
            = image_tag image.name.to_s, class: "card-img-top img-fluid", style: "height: auto; width: 100%;"
        .card-body
          %h3.card-title= @babysitter.user.nickname
          %h4= @babysitter.introduction_title
          %p.card-text= @babysitter.introduction_content

          -# 今後実装予定(評価機能)
          -# %span.text-warning ★ ★ ★ ★ ☆
          -# 4.0 stars
      / /.card
      .card.card-outline-secondary.my-4
        %h3.card-header= "ベビーシッター基本情報"
        .card-body
          %table.table
            %thead.thead-light
              %tr
                %th= "項目"
                %th= "内容"
            %thead.thead-warning
              %tr.table-warning
                %th{colspan: 2}= "基本情報"
            %tbody
              %tr
                %td= "保育可能年齢"
                %td= "#{@babysitter.baby_age_range_top_year} 年 #{@babysitter.baby_age_range_top_month} ヶ月 〜 #{@babysitter.baby_age_range_down_year} 年 #{@babysitter.baby_age_range_down_month} ヶ月"
              %tr
                %td= "受入可能人数"
                %td= "#{@babysitter.number_of_baby} 人"
              %tr
                %td= "子育て経験"
                %td= "#{@babysitter.experience_year_i18n}"
              %tr
                %td= "住所"
                %td= "#{@babysitter.user.prefecture} #{@babysitter.user.city}"
            %thead.thead-warning
              %tr.table-warning
                %th{colspan: 2}= "実績情報"
            %tbody
              %tr
                %td= "サポート回数"
                %td= "#{@babysitter.experience_support_count} 回"
              %tr
                %td= "累計ユーザー数"
                %td= "#{@babysitter.experience_user_count} 人"
            %thead.thead-warning
              %tr.table-warning
                %th{colspan: 2}= "基本料金"
            %tbody
              %tr
                %td 時給
                %td
                  = "#{@babysitter.money_hour} 円"
              %tr
                %td オプション料金
                %td
                  =  "#{@babysitter.money_option} 円"
            %thead.thead-warning
              %tr.table-warning
                %th{colspan: 2}= "概要"
            %tbody
              %tr
                %td= "資格"
                %td= "#{@babysitter.profile_license}"
              %tr
                %td= "可能時間帯"
                %td= "#{@babysitter.profile_receiving_time_top} 時 〜 #{@babysitter.profile_receiving_time_down} 時"
          .row.justify-content-center
            .col-5
              %button.btn.btn-success.w-75{"data-target" => "#exampleModalCenter", "data-toggle" => "modal", :type => "button"} 依頼する

-# 依頼ボタン用のモーダル
#exampleModalCenter.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalCenterTitle", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-dialog-centered.modal-lg{:role => "document"}
    .modal-content
      .modal-header
        %h5#exampleModalCenterTitle.modal-title 依頼フォーム
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        .col-md-12.order-md-1
          = render partial: "orders/form", locals: { order: @order }