%nav.navbar.navbar-dark.bg-dark.flex-md-nowrap.p-0.shadow
  / <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Company name</a>
  %a.navbar-brand.col-sm-3.col-md-2.mr-0{:href => "#"} 設定メニュー
  / <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
  -# %input.form-control.form-control-dark.w-100{"aria-label" => "検索", :placeholder => "検索", :type => "text"}/
  %ul.navbar-nav.px-3
    %li.nav-item.text-nowrap
      / <a class="nav-link" href="#">Sign out</a>
      -# %a.nav-link{:href => "#"} サインアウト
.container-fluid
  .row
    %nav.col-md-2.d-none.d-md-block.bg-light.sidebar
      .sidebar-sticky
        %ul.nav.flex-column.list-group.list-group-flush
          %li.nav-item
            = link_to "共通情報", signup_path(current_user.id), class: "nav-link list-group-item"
          %li.nav-item.active
            = link_to "保護者情報", parent_path(id: current_user.parent.id, user_id: current_user.id), class: "nav-link list-group-item #{if controller.controller_name == "parents"}"
          %li.nav-item
            = link_to "ベビーシッター情報", babysitter_path(id: current_user.babysitter.id, user_id: current_user.id), class: "nav-link list-group-item"
          %li.nav-item
            = link_to "ホーム画面", root_path, class: "nav-link"

    -# 保護者情報
    %main.col-md-9.ml-sm-auto.col-lg-10.px-4{:role => "main"}
      .row
        .col-md-12
          = render "shared/alert_message"
      .row
        .col-md-12
          .card
            .card-header.card-header-warning
              %h4.card-title 保護者情報(依頼時に使用)
              %p.card-category= "最終更新日 #{I18n.l(@parent.updated_at, format: :long)}"
            .card-body.table-responsive
              %table.table.table-hover
                %thead.text-warning
                  %th 項目
                  %th 内容
                %tbody
                  %tr
                    %td 希望時給
                    %td= "#{@parent.order_money_hour} 円"
                  %tr
                    %td 希望オプション金額
                    %td= "#{@parent.order_money_option} 円"
                  %tr
                    %td 依頼場所
                    %td= "#{@parent.order_prefecture} #{@parent.order_city}"
                  %tr
                    %td メモ
                    %td= "#{@parent.order_memo}"

            .card-footer.card-header-warning
              %h4.card-title 赤ちゃん情報(依頼時に使用)
            .card-body.table-responsive
              %table.table.table-hover
                %thead.text-warning
                  %th No
                  %th 名前
                  %th 性別
                  %th 年齢
                %tbody
                  - @parent.baby_infomations.each_with_index do |baby, index|
                    %tr
                      %td= index+1
                      %td= baby.name
                      %td= baby.sex_i18n
                      %td= "#{baby.age} 才"
                      
              .card-body.table-responsive
                = link_to "編集", edit_parent_path(user_id: @parent.user.id), class: "btn btn-primary"
