%nav.navbar.navbar-dark.bg-dark.flex-md-nowrap.p-0.shadow
  .navbar-brand.col-sm-3.col-md-2.mr-0
    マイページ
.container-fluid
  .row
    -# ナビバー
    = render "shared/configuration-nav-bar.html"
    -# 保護者情報
    %main.col-md-10.ml-sm-auto.col-lg-10.px-4{:role => "main"}
      .row
        .col-md-12
          = render "shared/alert_message"
      .row
        .col-md-12
          .card
            .card-header.card-header-warning
              %h4.card-title 保護者情報(依頼時に使用)
              %p.card-category= "最終更新日 #{I18n.l(@parent.updated_at, format: :long)}"
            .card-body.table-responsive
              %table.table.table-hover
                %thead.text-warning
                  %th 項目
                  %th 内容
                %tbody
                  %tr
                    %td 希望時給
                    %td= "#{@parent.order_money_hour} 円"
                  %tr
                    %td 希望オプション金額
                    %td= "#{@parent.order_money_option} 円"
                  %tr
                    %td 依頼場所
                    %td= "#{@parent.order_prefecture} #{@parent.order_city}"
                  %tr
                    %td メモ
                    %td= simple_format(h(@parent.order_memo))

            .card-footer.card-header-warning
              %h4.card-title 赤ちゃん情報(依頼時に使用)
            .card-body.table-responsive
              %table.table.table-hover
                %thead.text-warning
                  %th No
                  %th 名前
                  %th 性別
                  %th 年齢
                %tbody
                  - @parent.baby_infomations.each_with_index do |baby, index|
                    %tr
                      %td
                        = "#{baby.name} くん" if baby.sex == "man"
                        = "#{baby.name} ちゃん" if baby.sex == "woman"
                      %td
                        = baby.sex_i18n
                      %td
                        = "#{baby.age} 才"
                      
              .card-body.table-responsive
                = link_to "編集", edit_parent_path(user_id: @parent.user.id), class: "btn btn-primary"
